@import './tailwind.css';
@import './rainbow.css';
@import './blur.css';
@import './vp-code-group.css';
@import './custom-block.css';
@import './link.css';
@import './marker.css';

/* 参考 node_modules\vitepress\dist\client\theme-default\styles\var.css 一一修改 */

:root {
  --vp-c-brand-1: #915930;
  --vp-c-brand-2: #946300;
  --vp-c-brand-3: #9f6a00;
}

.dark {
  --vp-c-brand-1: #f9b44e;
  --vp-c-brand-2: #da8b17;
  --vp-c-brand-3: #a46a0a;
}

/* 标题渐变色 */
h1 {
  background: -webkit-linear-gradient(20deg, #bd34fe 5%, #41d1ff 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 链接下划线 */
.vp-doc a {
  text-decoration: none;
}

/* medium-zoom */
.medium-zoom-overlay {
  z-index: 15;
}

.medium-zoom-image {
  z-index: 16;
}