@import './tailwind.css';
@import './rainbow.css';
@import './blur.css';
@import './vp-code-group.css';
@import './custom-block.css';
@import './link.css';
@import './marker.css';

/* 参考 node_modules\vitepress\dist\client\theme-default\styles\var.css 一一修改 */


/* 标题渐变色 */
h1 {
  background: -webkit-linear-gradient(20deg, #bd34fe 5%, #41d1ff 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 链接下划线 */
.vp-doc a {
  text-decoration: none;
}

/* medium-zoom */
.medium-zoom-overlay {
  z-index: 15;
}

.medium-zoom-image {
  z-index: 16;
}

/* pageClass */
.m-nav-layout {
   /* 覆盖全局的 vp-layout-max-width（仅当前页面使用） */
   --vp-layout-max-width: 1660px;
}
.m-nav-layout .container {
  /* 修改 layout 最大宽度 */
  max-width: var(--vp-layout-max-width) !important;
}
.m-nav-layout .content-container,
.m-nav-layout .content {
  max-width: 100% !important;
}