/* medium-zoom */
:root {
  --medium-zoom-z-index: 100;
  --medium-zoom-bg: var(--vp-c-bg);
}
.medium-zoom-overlay {
  z-index: var(--medium-zoom-z-index);
  background-color: var(--medium-zoom-bg) !important;
}

.medium-zoom-overlay ~ img {
  z-index: calc(var(--medium-zoom-z-index) + 1);
}